<body>
<h2>Welcome to your ASK Finance Tracker Home Page....</h2>

<h4 data-spy="marquee">Mange your money with us and stay out of debt… </h4>
</header>
<p><BR>
Budget your finances to know where your money is going. ASK Finance Tracker is a complete online money management tool designed to keep track of all your transactions and bank accounts from your computer, mobile phone, or iPad. </p>
 <BR>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
       <%= image_tag("f3.jpg", :alt => "Finance3", :align => 'center') %>
    </div>

    <div class="item">
     <%= image_tag("f1.jpg", :alt => "Finance1", :align => 'center') %>
    
    </div>

    <div class="item">
       <%= image_tag("f2.jpg", :alt => "Finance2", :align => 'center') %>
    </div>

    <div class="item">
      <%= image_tag("f4.jpg", :alt => "Finance4", :align => 'center') %>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<BR><BR></body>