@import "bootstrap-sprockets";
@import "bootstrap";


.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

/*Newly Added :Styling for Accounts Page*/

 @font-face {
  font-family: 'devroye';
  font-weight: normal;
  font-style: normal;
  src: font-url('devroye.eot');
  src: font-url('devroye.eot?#iefix') format('embedded-opentype'),
       font-url('devroye.woff') format('woff'),
       font-url('devroye.ttf') format('truetype'),
       font-url('devroye.svg') format('svg');
}
 
 /*Styling the Account PAge Body */


 .ac_body{
  background-color: white;
  text-align:left;
  color: darkslategray;
  font-family: 'devroye';
  font-size: 14px;
  line-height: 18px;
}

/*Styling the Form Table--Override the bootstrap class*/
.panel{
width:60%;
font-weight:bold;
margin: 10px 300px 10px 300px;
padding: 30px 20px 30px 20px;
text-align:left;
}


/*Styling the Data Table*/

.data_table{
margin:5px 100px 20px 160px;
width:110%;
td:hover {
color: black;
background: silver;
text-decoration: underline;
}
 th, td {
 color: white;
  border: 1px solid #eee;
  background: teal;
  padding: 12px 35px;
}
 th {
  background: #228B22;
  color: silver;
  text-transform: uppercase;
  font-size: 12px;
border-radius: 5px;
}
 tr, td {
transition: all 1s;            //Added Animation
border-radius: 5px;
box-shadow: 3px 3px #808080;
}


}




