body {
  background-image: image-url("back.jpg"); 
  background-size: cover;
  color: #333;
  font-family:devroye, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

@font-face {
  font-family: 'devroye';
  font-weight: normal;
  font-style: normal;
  src: font-url('devroye.eot');
  src: font-url('devroye.eot?#iefix') format('embedded-opentype'),
       font-url('devroye.woff') format('woff'),
       font-url('devroye.ttf') format('truetype'),
       font-url('devroye.svg') format('svg');
}

p, ol, ul, td {
  font-family:devroye, verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  font-weight: bold;
  color: #000;

  &:visited {
    color: #000;
  }

  &:hover {
    color: #666;
    background-color: silver;
  }
}

div {
  
  &.field, &.actions {
    font-family:devroye;
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/*Newly Added :Style for Shareable Gem .*/
nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left; overflow:hidden;}
nav.share iframe {max-height:20px; border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {max-width:70px; font-size: default !important;}
.twitter-share-button, .twitter-count-horizontal {max-width:80px;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/